---
import BaseLayout from "@layouts/BaseLayout.astro";
import Button from "@components/Button.astro";
import CTA from "@sections/CTA.astro";
import FAQ from "@sections/FAQ.astro";

import client from "@data/client.json";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import heroImg from "@assets/images/hero.jpg";
import { getImage } from "astro:assets";
const optimizedHeroImg = await getImage({ src: heroImg, format: "avif" });

// 1. Import critical styles directly. Astro will bundle and inject these
// as a blocking <link> tag in the <head>, which is exactly what you want
import "@styles/critical.less";
// 2. Import the URL of the deferred styles. The "?url" suffix tells
// Astro to process the file but just give us the final path to it.
import localStylesURL from "@styles/local.less?url";
import { Icon } from "astro-icon/components";
---

<BaseLayout
  title={`${client.tagline} | ${client.name}`}
  description={client.description}
  preloadedImage={optimizedHeroImg}
>
  <Fragment slot="head">
    {
      import.meta.env.PROD ? (
        <>
          {/* PRODUCTION: Preload the main stylesheet to load it without blocking rendering */}
          <link
            rel="preload"
            href={localStylesURL}
            as="style"
            onload="this.onload=null;this.rel='stylesheet'"
          />
          <noscript>
            <link rel="stylesheet" href={localStylesURL} />
          </noscript>
        </>
      ) : (
        <link rel="stylesheet" href={localStylesURL} />
      )
    }

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. -->
    <!-- Uncomment the code below to enable Structured Data -->
    <!-- <HomeSchema /> -->
  </Fragment>

  <!-- ============================================ -->
  <!--                    Hero                      -->
  <!-- ============================================ -->

  <section id="hero">
    <div class="container">
      <span class="topper">CodeStitch Presents</span>
      <h1 class="title">Main thing we do with most important keyword phrase</h1>
      <p class="text">
        Be more descriptive of the services and solutions the company / business
        offers related to the h1
      </p>
      <Button href="/contact/" class="button-solid">Get in Touch</Button>
    </div>

    <picture class="background">
      <source media="(max-width: 600px)" srcset="/assets/images/hero-m.jpg" />
      <source media="(min-width: 601px)" srcset={optimizedHeroImg?.src} />
      <img
        aria-hidden="true"
        src={optimizedHeroImg?.src}
        alt="kitchen"
        width="1280"
        height="738"
        loading="eager"
        decoding="async"
      />
    </picture>
  </section>

  <!-- ============================================ -->
  <!--                   Services                   -->
  <!-- ============================================ -->

  <section id="h-services-143">
    <ul class="card-group">
      <li class="item">
        <picture class="icon">
          <Icon name="mdi:briefcase" size={52} aria-hidden="true" />
        </picture>
        <h2 class="title">Service 1</h2>
        <p class="text">
          Talk about the service with keywords people will be searching for it
          by. Keep it 1-2 sentences.
        </p>
      </li>
      <li class="item">
        <picture class="icon">
          <Icon name="mdi:home-city" size={52} aria-hidden="true" />
        </picture>
        <h2 class="title">Service 2</h2>
        <p class="text">
          Talk about the service with keywords people will be searching for it
          by. Keep it 1-2 sentences.
        </p>
      </li>
      <li class="item">
        <picture class="icon">
          <Icon name="mdi:gear" size={52} aria-hidden="true" />
        </picture>
        <h2 class="title">Service 3</h2>
        <p class="text">
          Talk about the service with keywords people will be searching for it
          by. Keep it 1-2 sentences.
        </p>
      </li>
      <li class="item">
        <picture class="icon">
          <Icon name="mdi:person" size={52} aria-hidden="true" />
        </picture>
        <h2 class="title">Service 4</h2>
        <p class="text">
          Talk about the service with keywords people will be searching for it
          by. Keep it 1-2 sentences.
        </p>
      </li>
    </ul>
  </section>

  <!-- ============================================ -->
  <!--                 Side By Side                 -->
  <!-- ============================================ -->

  <section id="sbs">
    <div class="container">
      <!-- Left Image Section -->
      <div class="left">
        <picture class="picture picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/cabinets2-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/cabinets2.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/cabinets2.jpg"
            alt="cabinets"
            loading="lazy"
            width="400"
            height="563"
          />
        </picture>
        <picture class="picture picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/construction-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/construction.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/construction.jpg"
            alt="house"
            loading="lazy"
            width="400"
            height="563"
          />
        </picture>
      </div>
      <!-- Right Content Section-->
      <div class="right">
        <span class="topper">About Us</span>
        <h2 class="title">About Company Title</h2>
        <p class="text">
          In consequat tincidunt turpis sit amet imperdiet. Praesent Class
          officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur
          et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent
          nonatourean olei aptent taciti sociosqu ad litora torquent per.
        </p>
        <p class="text">
          In consequat tincidunt turpis sit amet imperdiet. Praesent Class
          officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur
          et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent
          nonatourean olei aptent taciti sociosqu ad litora torquent per.
        </p>
        <div class="flex-group">
          <p class="flex-p">
            In consequat tincidunt turpis sit amet imperdiet. Praesent Classei
            consequat tincidunt turpis sit amet imperdiet for mind.
          </p>
          <span class="name">Justin Time</span>
          <span class="job">CEO-Founder</span>
          <img
            class="quote-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
            alt="gavel"
            width="136"
            height="77"
          />
        </div>
        <a href="/about" class="button-solid">More About Us</a>
      </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--            Extra Content To Rank             -->
  <!-- ============================================ -->

  <section id="sbs-r">
    <div class="container">
      <!-- Left Image Section -->
      <div class="left">
        <picture class="picture picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/construction-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/construction.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/construction.jpg"
            alt="house"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="picture picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/cabinets2-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/cabinets2.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/cabinets2.jpg"
            alt="cabinets"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
      </div>
      <!-- Right Content Section-->
      <div class="right">
        <span class="topper">SEO Ranking</span>
        <h2 class="title">Talk about a main service keyword</h2>
        <p class="text">
          In consequat tincidunt turpis sit amet imperdiet. Praesent Class
          officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur
          et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent
          nonatourean olei aptent taciti sociosqu ad litora torquent per.
        </p>
        <p class="text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non tenetur,
          iure nihil ipsam qui atque commodi id voluptatem nesciunt, quis animi
          fuga cum doloribus! Eaque laboriosam, unde consectetur iure asperiores
          ullam. Consequuntur debitis a voluptatibus vitae optio autem explicabo
          quia neque est quas, in placeat. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Doloribus modi laudantium voluptatibus
          rem libero error minus quia eligendi sapiente eos.
        </p>
      </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                   Gallery                    -->
  <!-- ============================================ -->

  <section id="gallery">
    <div class="container">
      <span class="topper">Our Portfolio</span>
      <h2 class="title">Et orci volutpat, back up generator installations</h2>
      <div class="image-group">
        <!-- Row 1-->
        <div class="row row-1">
          <!-- To add more images, copy and paste this row's picture tags here in order from picture-1 to picture-3 and they will maintain the same layout-->
          <picture class="picture picture1">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port1-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port1.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port1.jpg"
              alt="new hallway"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <picture class="picture picture2">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port4-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port4.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port4.jpg"
              alt="new home construction"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <picture class="picture picture3">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port7-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port7.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port7.jpg"
              alt="building a new wall"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
        </div>
        <!-- Row 2 -->
        <div class="row row-2">
          <!-- To add more images, copy and paste this row's picture tags here in order from picture-1 to picture-3 and they will maintain the same layout-->
          <picture class="picture picture1">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port2-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port2.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port2.jpg"
              alt="new kitchen"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <picture class="picture picture2">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port5-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port5.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port5.jpg"
              alt="apartment addition"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <picture class="picture picture3">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port8-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port8.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port8.jpg"
              alt="kew kitchen cabinets"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
        </div>
        <!-- Row 3 -->
        <div class="row row-3">
          <!-- To add more images, copy and paste this row's picture tags here in order from picture-1 to picture-3 and they will maintain the same layout-->
          <picture class="picture picture1">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port3-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port3.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port3.jpg"
              alt="new kitchen"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <picture class="picture picture2">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port6-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port6.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port6.jpg"
              alt="apartment addition"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <picture class="picture picture3">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port9-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port9.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port9.jpg"
              alt="kew kitchen cabinets"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
        </div>
      </div>
      <a href="/projects" class="button-solid">View all projects</a>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                    FAQ                       -->
  <!-- ============================================ -->
  <FAQ />

  <!-- ============================================ -->
  <!--                   Reviews                    -->
  <!-- ============================================ -->

  <section id="reviews">
    <div class="container">
      <span class="topper">Our Reviews</span>
      <h2 class="title">Words From Our Customers</h2>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor
        volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida
        viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo,
        ornare. Lorem ipsum dolor sit amet.
      </p>
      <ul class="card-group">
        <!-- Review 1 -->
        <li class="item">
          <img
            class="item-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
            alt="profile picture"
            width="80"
            height="80"
          />
          <p class="item-p">
            Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor
            habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed
            ullamcorper lectus et. Auctor velit diam fermentum consequat.
            Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
          </p>
          <span class="reviewer">
            Jon Doe
            <span class="desc">Homeowner</span>
          </span>
          <img
            class="item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
            alt="stars"
            width="96"
            height="16"
          />
        </li>
        <!-- Review 2 -->
        <li class="item">
          <img
            class="item-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
            alt="profile picture"
            width="80"
            height="80"
          />
          <p class="item-p">
            Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor
            habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed
            ullamcorper lectus et. Auctor velit diam fermentum consequat.
            Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
          </p>
          <span class="reviewer">
            Jane Doe
            <span class="desc">Homeowner</span>
          </span>
          <img
            class="item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
            alt="stars"
            width="96"
            height="16"
          />
        </li>
      </ul>
      <a aria-label="read more reviews" href="/reviews" class="button-solid"
        >Our Reviews</a
      >
    </div>
  </section>

  <CTA />
</BaseLayout>
